.search-bar {
    height: 150px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.search-bar h2 {
    text-align: center;
    color: white;
    font-size: 1.8em;
}
  
.search-bar input {
    height: 50px;
    width: 1000px;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    user-select: none;
}