.tracklist {
    min-height: 300px;
    width: 100%;
    margin: 30px auto;
}

.tracklist {
    background-color: #121212;
    color: white;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #242424;
}

.add-button {
    width: 30px;
    background-color: #1ED760;
    border: none;
    height: 100px;
    margin-right: 10px;
}

.add-button:hover {
    background-color: #0d8135;
    cursor: pointer;
}