.search-bar h2 {
  text-align: center;
  color: white;
  font-size: 1.8em;
}

.search-bar input {
  height: 50px;
  width: 1000px;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  user-select: none;
}

.program {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  grid-gap: 25px;
}

.tracklist, .playlist {
  min-height: 300px;
  width: 100%;
  margin: 30px auto;
}

.tracklist {
  background-color: #121212;
  color: white;
}

.track h2 {
  margin-bottom: -10px;
}

.track {
  padding: 5px 20px;
  margin: 5px;
  border-radius: 15px;
}

.playlist {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.playlist-title {
  font-family: inherit;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  width: 80%;
}

.playlist-title:focus {
  outline: none;
  border-bottom: 2px solid black !important;
}

.playlist button[type=submit] {
  background-color: #121212;
  color: white;
  border: none;
  border-radius: 15px;
  width: fit-content;
  padding: 5px 60px;
  margin-top: 20px;
  font-size: 25px;
}