header {
  background-color: #121212;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
}

header h1 span {
  color: #1ED760;
}

.program {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  grid-gap: 25px;
}